@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground:#0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.backgroundimage {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1523348837708-15d4a09cfac2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 4rem 1rem;
  width: 115.8%;
  
}
@media (max-width: 768px) {
  .backgroundimage {
    padding-top: 25vh;
  }
}

 


.profilheader {
  background: white;
  border-radius: 8px;
  padding: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #e5e7eb;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}